<{include file="../common/header.html"}>
<!--<div class="subnav">-->
    <!--<div class="content-menu ib-a blue line-x">-->
        <!--<a class="add fb" href="javascript:window.top.art.dialog({id:'add',iframe:'<{site_url url='/imgmgr/imgmgr/imgmgr_add/'}>?', title:'添加二级分类图片', width:'800', height:'600', lock:true}, function(){var d = window.top.art.dialog({id:'add'}).data.iframe;var form = d.document.getElementById('dosubmit');form.click();return false;}, function(){window.top.art.dialog({id:'add'}).close()});void(0);"><em>添加二级分类图片</em></a> <a href="<{site_url url='/imgmgr/imgmgr/index/'}>" class="on"><em>二级分类图片列表</em></a></div>-->
<!--</div>-->
<style type="text/css">
    html{_overflow-y:scroll}
</style>
<div class="pad_10">
    <div id="searchid">
        <form name="searchform" action="<{site_url url='/uploadbatch/uploadbatch/index/'}>" method="get" >
            <!--<table width="100%" cellspacing="0" class="search-form">-->
                <!--<tbody>-->
                <!--<tr>-->
                    <!--<td>-->
                        <!--<div class="explain-col">-->
                            <!--<{$search_arr['img_type_sel']}>-->
                            <!--<input name="keywords" type="text" value="<{$search_arr['keywords']}>" class="input-text" />-->
                            <!--<input type="submit" name="search" class="button" value="搜索" />-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
            <input type="hidden" value="1" name="show">
            <input type="hidden" value="ok" name="dosearch">
            <input type="hidden" value="<{$admin_session['wb_hash']}>" name="wb_hash">
        </form>
    </div>

    <!--<form name="myform" id="myform" action="" method="post" >-->

        <div class="table-list">
            <table width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th width="60">图片</th>
                    <th width="40">原始名称</th>
                    <!--<th width="60">UID</th>-->
                    <th width="40">类型</th>
                    <th width="60">一级分类(单击编辑)</th>
                    <th width="60">二级分类(单击编辑)</th>
                    <th width="60">Tag(单击编辑)</th>
                    <th width="120">描述(双击编辑)</th>
                </tr>
                </thead>

                <tbody>
                <{foreach from=$list_data item=row}>
                <tr>
                    <td align="center"><a target="_blank" href="<{$row['img']['s']['url']}>" ><{if <{$row['img']['t']['url']}>}><img width="100" height="100" src="<{$row['img']['t']['url']}>"/><{else}>[无图片]<{/if}></a></td>
                    <td width="60" align="center"><{$row['img_oname']}></td>
                    <!--<td align="center"><{$row['uid']}></td>-->
                    <td align="center">
                        素描
                    </td>
                    <td align="center">
                        <select id="class_1_<{$row['tid']}>" name="class_1" form="carform">
                                <option value="0">暂无</option>
                            <{foreach from=$class_1 item=cla1}>
                                 <option <{if $cla1['id']==$row['f_catalog'] }>selected = "selected"<{/if}> value="<{$cla1['id']}>"><{$cla1['name']}></option>
                            <{/foreach}>
                        </select>
                    </td>
                    <td align="center">
                        <select id="class_2" title="" name="class_2" form="carform">
                            <option value="saab">test</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                        </select></td>
                    <td align="center">
                        <select name="carlist" form="carform">
                        <option value="volvo">test</option>
                        <option value="saab">test</option>
                    </select></td>
                    <td width="220" align="center" title="<{$row['tid']}>" id="desc"><{$row['content']}></td>
                </tr>
                <{foreachelse}>
                <tr>
                    <td colspan="10">没有数据</td>
                </tr>
                <{/foreach}>
                </tbody>
            </table>
            <div class="btn">
                <label for="check_box">全选/取消</label>
                <input type="hidden" value="<{$admin_session['wb_hash']}>" name="wb_hash">
                <input type="hidden" value="1" name="dosubmit">
                <!--
                <input type="button" class="button" value="推荐" onclick="myform.action='<{site_url url='/mis/tweet/tweet_sug/'}>';return change_more_sug();"/>
                <input type="button" class="button" value="删除" onclick="myform.action='<{site_url url='/mis/tweet/tweet_del/'}>';return change_more_del()"/>
                <input type="button" class="button" value="取消推荐" onclick="myform.action='<{site_url url='/mis/tweet/tweet_clear_sug/'}>';return change_more_clear_sug();"/>
                <input type="button" class="button" value="审核" onclick="myform.action='<{site_url url='/weibo/news/news_status/'}>';return change_more_status();"/>
                <input type="button" class="button" value="取消删除" onclick="myform.action='<{site_url url='/mis/tweet/tweet_clear_del/'}>';return change_more_clear_del()"/>
                -->
            </div>
            <div id="pages"><{$pages}></div>
        </div>
    <!--</form>-->
</div>
<script type="text/javascript">
    //动态修改数据
    $(document).ready(function(){
        $("select[id=class_2]").each(function(){
            $(this).change(function(){
                var tid = $(this).attr('title');
                alert(tid);
            });
        })
        $("tr td:nth-child(7)").each(function(){
            $(this).dblclick(function(){
                var inval=$(this).html();
                var inid=$(this).attr("title");
                $(this).html("<input id='edit"+inid+"' name='' value='"+inval+"'>");
                $("#edit"+inid).focus().live("blur",function(){
                    var editval=$(this).val();//获取更改内容
                    $(this).parents("td").html(editval); //将点击的td中原内容改为输入的新内容
                    $.post("<{site_url url='/uploadbatch/uploadbatch/edit_one/'}>/",{id:inid,val:editval},function(result){
                        if(result != 1)
                            alert("修改失败");
                    });
                });
            });
        });
    })

    function del_one(obj,aid) {
        window.top.art.dialog({content:'确认删除吗？', fixed:true, style:'confirm',id:'sug_one'},
                function(){
                    $.get('<{site_url url='/imgmgr/imgmgr/del_one_ajax/'}>?&id='+aid+'&wb_hash='+wb_hash,function(data){
                        if(data == 1) $(obj).parent().parent().fadeOut("slow");
                    })
                },
                function(){});
    }

    //-->
</script>
<{include file="../common/footer.html"}>
